{
    "AccessKey": "<Your Access Key>",  // https://portal.qiniu.com/user/key
    "SecretKey": "<Your Secret Key>",
    "Bucket": "<Your Bucket Name>",
    "Port": 9000,                      // 获取token的服务所在的端口
    "UptokenUrl": "uptoken",
    "Domain": "<Your Bucket Domain>",  // 你的七牛云的cdn服务地址
    "Host": ""                         // 获取token的服务所在的host
}